{% extends 'base.html' %}

{% block content %}
<form action='' method='post'>
    {% csrf_token %}
    <label>
        Add Twitter Handle:
    </label>
    <input type='text' name="twitter_handle" value=''/>
    <input type="submit" value="Add"/>
</form>
<p/>
<table class="table">
    <thead>
    <tr>
        <th>Handle:</th>
        <th>Name:</th>
        <th>Followers:</th>

    </tr>
    </thead>
    <tbody>
    {% for result in organisations %}
    <tr>
        <td>{{ result.uni_handle }}</td>
        <td>{{ result.name }}</td>
        <td>{{ result.num_followers }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
