{% extends 'base.html' %}

{% block content %}
<div>
    <form action='' method='post'>
        {% csrf_token %}

        <div class="input-prepend">
            <span class="add-on">@</span>
            <input type='text' name="twitter_handle" value='' placeholder="Twitter Handle"/>
             <input type="submit" value="Add"/>

        </div>
       
    </form>
</div>
<p/>
<table class="table">
    <thead>
    <tr>
        <th>Handle:</th>
        <th>Name:</th>
        <th>Followers:</th>

    </tr>
    </thead>
    <tbody>
    {% for result in organisations %}
    <tr>
        <td>{{ result.uni_handle }}</td>
        <td>{{ result.name }}</td>
        <td>{{ result.num_followers }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
