{% extends 'base.html' %}

{% block content %}

<h1>Task History</h1>
<table class="table">
    <thead>
    <tr>
        <th>Task Name:</th>
        <th>Count:</th>
        <th>Last Run:</th>
    </tr>
    </thead>
    <tbody>
    {% for task in task_stats %}
        <tr>
            <td>{{ task.task_name }}</td>
            <td>{{ task.count }}</td>
            <td>{{ task.last_run }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<h1>Current Task Queue</h1>
<h2>Summary</h2>

<table class="table">
    <thead>
    <tr>
        <th>Queue:</th>
        <th>Count:</th>

    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Active</td>
        <td>{{ active_count }}</td>
    </tr>
    <tr>
        <td>New</td>
        <td>{{ reserved_count }}</td>
    </tr>
    <tr>
        <td>Retrying</td>
        <td>{{ scheduled_count }}</td>
    </tr>
    </tbody>
</table>

<h2>Details</h2>

<h3>Active:</h3>
<table class="table">
    <thead>
    <tr>
        <th>Name:</th>
        <th>Args:</th>
    </tr>
    </thead>
    <tbody>
    {% for task in active %}
    <tr>
        <td>{{ task.name }}</td>
        <td>{{ task.args }}</td>
    </tr>
    {% endfor %}

    </tbody>
</table>

<h3>New:</h3>
<table class="table">
    <thead>
    <tr>
        <th>Name:</th>
        <th>Args:</th>

    </tr>
    </thead>
    <tbody>
    {% for task in reserved %}
    <tr>
        <td>{{ task.name }}</td>
        <td>{{ task.args }}</td>
    </tr>
    {% endfor %}

    </tbody>
</table>

<h3>Retrying:</h3>
<table class="table">
    <thead>
    <tr>
        <th>Scheduled:</th>
        <th>Name:</th>
        <th>Args:</th>

    </tr>
    </thead>
    <tbody>
    {% for task in scheduled %}
    <tr>
        <td>{{ task.eta }}</td>
        <td>{{ task.request.name }}</td>
        <td>{{ task.request.args }}</td>
    </tr>
    {% endfor %}

    </tbody>
</table>

{% endblock %}
