<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Capgemini Twitter Exploration Tool</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'assets/css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'bootstrap/css/starter-template.css' %}" rel="stylesheet">

    <!-- Twitter Profile Card -->
    <link href="{% static 'bootstrap/css/twitter-profile-card.css' %}" rel="stylesheet">

    <!-- Comment Box -->
    <link href="{% static 'bootstrap/css/comment-box.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="container" style="width:1000px auto; margin:0 auto;">

<nav class="navbar ">
    <div class="container-fluid">
        <div class="navbar-header navbar-margin" >

            <a href="#" class="pull-left"><img src="{% static 'images/logo.png' %}" class="logo-size"></a>

            <button type="button" class="navbar-toggle collapse-button" data-toggle="collapse" data-target="#myNavbar"> MENU
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav " style="margin-left: 12px;">

            <!--  do this if we want floating right items, but we then have a line break issue
            </ul>
            <ul class="nav navbar-nav navbar-right"> -->

                <li class="navbar-tabs  "><a href="/">Home</a></li>
                <li ><a href="/search/users">Search</a></li>
                <li ><a href="/search/organisations">Organisations</a></li>
                <li ><a href="/search/stats">Stats</a></li>
                <li ><a href="/about">About</a></li>
                <li ><a href="/contact">Contact</a></li>

                {% if user.is_superuser %}
                <li ><a href="/settings">Settings</a></li>
                {% endif %}

                {% if user.is_authenticated %}

                <li ><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>

                {% else %}

                <li ><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

                {% endif %}




            </ul>
        </div>

    </div>
</nav>

<div class="container extended-content">
    {% block content %}
    {% endblock %}
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!-- <script src="{% static '/assets/js/ie10-viewport-bug-workaround.js' %}"></script> -->
    </div>
</body>
</html>
